h1, h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

p {
  font-family: 'Libre Baskerville';
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 35px;
}

* {
  border-color: rgb(53, 112, 184);
}

@media (min-width: 640px) {
  h1 {
    font-size: 40px;
  }
}